<!DOCTYPE html>
<html>
<head>
  <title>ExcellentAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="<%= root_path %>">Home</a>
<%= link_to "New Question", new_question_path %>
<hr>
<%= yield %>

</body>
</html>
